@use 'base/variables' as v;
@use 'base/mixins' as m;

.actions {
    margin-top: 5rem;

    @include m.tablet {
        display: flex;
        justify-content: space-between;
    }

    a {
        display: block;
        text-align: center;
        margin-bottom: 2rem;
        color: v.$primary;

        &:last-of-type {
            margin-bottom: 0;
        }

        &:hover {
            color: v.$secundary
        }
    }
}