@use 'base/variables' as v;

.swal-popup {
    font-family: v.$font_headings;
}

.swal-title {
    font-size: 2.4rem;
    font-weight: 600;
}

.swal-text {
    font-size: 1.5rem;
}

.swal-confirm,
.swal-cancel {
    font-size: 1.6rem;
    padding: 0.8rem 1.5rem;
}