@use 'base/variables' as v;
@use 'base/mixins' as m;


.dropdown-results {
    display: none;
    border: 1px solid #ccc;
    max-height: 25rem;
    overflow-y: auto;
    background: white;
    border-radius: 1rem;

    div {
        padding: 1rem 1rem;
        cursor: pointer;

        &:hover {
            background: #eee;
        }
    }

    &:not(:empty) {
        display: block;
    }
}

.selected-list {
    margin-top: 1rem;
    list-style: none;
    padding: 0;

    li {
        margin-bottom: 1rem;
        background: #fff;
        border: .1rem solid #ddd;
        border-radius: 1rem;
        padding: 1rem 1.5rem;
        box-shadow: 0 .2rem .5rem rgba(0, 0, 0, 0.05);
        position: relative;

        & button {
            position: absolute;
            top: .5rem;
            right: .8rem;
            background: none;
            border: none;
            color: #888;
            font-size: 1.4em;
            cursor: pointer;

            &:hover {
                color: v.$red;
            }
        }

        & strong {
            display: block;
            color: #333;
            font-weight: 600;
        }

        & small {
            color: #777;
            font-size: 0.85em;
        }


    }
}