@use 'base/variables' as v;
@use 'sass:color';

/** Media Queries **/
@mixin phone {
    @media (min-width: v.$phone) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}


@mixin button($bgColor, $textColor) {
    background-color: $bgColor;
    padding: 1.5rem 4rem;
    color: $textColor;
    font-size: 1.6rem;
    display: inline-block;
    font-weight: 700;
    border: none;
    border-radius: 0.8rem;
    transition-property: background-color;
    transition-duration: .3s;
    text-align: center;
    display: block;
    width: 100%;

    @include tablet {
        width: auto;
    }

    &:hover {
        background-color: color.scale($bgColor, $lightness: -50%);
        cursor: pointer;
    }
}

@mixin grid($columns, $spacing ) {
    display: grid;
    gap: $spacing;
    grid-template-columns: repeat($columns, 1fr);
}

@mixin circle($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

// Centrar contenido con flex
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
