@use 'variables' as v;

h1,
h2,
h3 {
    font-family: v.$font_headings;
    margin: 0 0 calc(v.$separation / 2) 0;
    font-weight: 900;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

p {
    font-size: 2rem;
    color: v.$gray;
    line-height: 1.8;
}

.tagline {
    margin-top: 0;
    font-family: v.$font_headings;
    font-weight: 600;
    color: v.$gray;
    font-size: 2.4rem;
    text-align: center;
}

.page-description {
    color: v.$primary;
    text-align: center;
    font-weight: 800;
    font-size: 2rem;
}