// fonts
$font_headings: 'Kelly Slab', sans-serif;
$font_texts: 'Arial', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 790px;
$desktop: 1024px;

// Colores
$primary: #26488C;
$secundary: #6DDAF2;

$white: #FFFFFF;
$gray: #6b7280;
$blackGray: #4B5563;
$whiteGray: #f3f4f6;
$black: #000;
$bg_page_base: #2c3e50;      


$red: rgb(230, 0, 0);
$green: rgb(0, 120, 0);

$bold: 700;

$separation: 5rem;